{% extends 'nav.twig' %}
{% block content %}

<div class="parallax-container">
  <div class="parallax"><img src="{{asset('blured.jpg')}}"></div>
</div>

<div id="target" class="section white">
  <div class="row container">
    <h2 class="header">Bienvenido</h2>
    <p>VSA quiere ayudarle a introducirse en el mundo de la tecnología</p>
    <p>Da click en comenzar para saber cómo</p>
    <a href="{{urlFor('comenzar')}}" class="waves-effect waves-teal btn-flat">comenzar</a>
    <div class="divider"></div>
  </div>
</div>
<div class="section">
  <div class="row container">
    <h2 class="header">Contáctanos</h2>
    <p>Si lo que quieres es contactarnos entonces da click a continuación</p>
    <a href="#" class="waves-effect waves-teal btn-flat">contactar</a>
  </div>
</div>
<div id="mv" class="section" style="display:none;">
  <div class="row container">
    <h2 class="header">Misión</h2>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>
  <div class="row container">
    <h2 class="header">Visión</h2>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}
{% block js %}
<script type="text/javascript">
  $(document).ready(function(){
    //$('#mv').css("display", "none");
    var options = [
      {
        selector:'#target',
        offset: 700,
        callback: function(el){
          $('#mv').fadeIn(300);
          //$('#mv').css("display", "block");
          //Materialize.showStaggeredList('#mv');
        }
      }
    ];
    Materialize.scrollFire(options);
    $('.parallax').parallax();
    /*
    var options = [
      {
        selector: '#staggered-test',
        offset: 50, callback: function(el) {
          Materialize.toast("This is our ScrollFire Demo!", 1500 );
        }
      },
      {
        selector: '#staggered-test',
        offset: 205, callback: function(el) {
          Materialize.toast("Please continue scrolling!", 1500 );
        }
      },
      {
        selector: '#staggered-test', offset: 400, callback: function(el) {
           Materialize.showStaggeredList($(el));
         }
       },
       {
         selector: '#image-test', offset: 500, callback: function(el) {
           Materialize.fadeInImage($(el));
         }
       }
     ];
     Materialize.scrollFire(options);
     */
    });
</script>
{% endblock %}
{% block css %}
{% endblock %}
