{% extends 'nav.twig' %}
{% block content %}
  sdfs
{% endblock %}
{% block js %}
<script type="text/javascript">
  Materialize.toast("Bienvenido {{ u }}!", 1500, "rounded");
</script>
{% endblock %}
