{% extends 'nav.twig' %}
{% block content %}
  <div class="caption center-align">
    <h3>¡BIENVENIDO!</h3>
    <h5 class="light grey-text text-lighten-3">Has tomado una muy buena eleccion</h5>
  </div>
  <form action="{{ urlFor('loging') }}" method="post" class="col s12">
    <div class="row">
      <div class="input-field col s5 offset-s4">
        <input placeholder="correo" id="correo" type="text" class="validate" name="correo"/>
        <label for="first_name">correo electrónico</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s5 offset-s4">
        <input placeholder="**********" id="pass" type="password" class="validate" name="pass"/>
        <label for="first_name">Contraseña</label>
        <button id="mandar" class="offset-s8 btn waves-effect waves-green" type="submit">Entrar
          <i class="material-icons">send</i>
        </button>
      </div>
    </div>
  </form>
{% endblock %}
{% block css %}
<style media="screen">
  #formulario{
    z-index: 1
  }
  body{
    background:url("{{ asset('espeis.jpg') }}");
  }
</style>
{% endblock %}
{% block js %}
<script type="text/javascript">
$(document).ready(function(){
  Materialize.toast("{{app.flash.error}}", 4000, 'rounded red');
});
</script>
{% endblock %}
