<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link type="text/css" rel="stylesheet" href="{{ asset('materialize.css')}}"  media="screen,projection"/>
    <link type="text/css" href="{{ asset('icon.css') }}" rel="stylesheet"/>
    <script type="text/javascript" src="{{ asset('jquery-2.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('materialize.js') }}"></script>
    <title>eso mothy</title>
  </head>
  <div class="navbar-fixed">
  <nav>
    <div class="z-depth-5 nav-wrapper teal lighten-2">
      <a href="{{ urlFor('home') }}" class="brand-logo"><img src="{{asset('logotipo.png')}}" height="80px"/></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {% if status == true %}
        <li><a class='dropdown-button color' href='#' data-activates='opciones'>{{ u }}</a></li>
        <ul id="opciones" class="dropdown-content">
          <li><a href="{{urlFor('logout')}}">cerrar sesión</a></li>
        </ul>
        {% endif %}
        {% if status == false %}
        <li><a href="{{urlFor('comenzar')}}">Iniciar sesión</a></li>
          <li><a href="{{urlFor('registro')}}">Regístrate</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
</div>
  <body>
    {% block content %}
    {% endblock %}
  </body>
  {% block js %}
  {% endblock %}
  {% block css %}
  <style media="screen">

  }
  #opciones{
    margin-top: 55px;
  }
  </style>
  {% endblock %}
</html>
