{% extends 'nav.twig' %}
{% block content %}
<form class="col s12" action="{{ urlFor('registrar') }}" method="post">
  <div id="contenedor" class="row container">
    <div id="nombre" class="input-field col s5 ">
      <input  type="text" name="nombre" class="validate" placeholder="Nombre"/>
    </div>
    <div id="apellido" class="input-field col s5 ">
      <input  type="text" name="apellido" class="validate" placeholder="Apellido"/>
    </div>
    <div id="Correo electronico" class="input-field col s7 ">
      <input  type="email" name="correo" class="validate" placeholder="Correo"/>
    </div>
    <div id="Fecha" class="input-field col s3">
       <input type="date" class="datepicker" placeholder="Fecha de Nacimiento" name="cumple">
    </div>
    <div id="pass" class="input-field col s7">
       <input type="password" class="validate" placeholder="contraseña" name="clave">
    </div>
    <div id="confpass" class="input-field col s7">
       <input type="password" class="validate" placeholder="confirmar contraseña" name="conclave">
       <button id="mandar" class="offset-s8 btn waves-effect waves-green" type="submit">Guardar
         <i class="material-icons">send</i>
       </button>
    </div>
  </div>
</form>
{% endblock %}
{% block css %}
<style media="screen">
  body{
    background: url("{{ asset('reg.jpg') }}");
  }
  #contenedor{
    margin-top: 10em;
  }
</style>
{% endblock %}
{% block js %}
<script type="text/javascript">
$('.datepicker').pickadate({
  selectMonths: true, // Creates a dropdown to control month
  selectYears: 100 // Creates a dropdown of 15 years to control year
});
Materialize.toast("{{app.flash.noreg}}", 4000,'rounded red');
</script>
{% endblock %}
